body{
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 14px;
    height: 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}


.id{
    border: 1px #555555 solid;
    display: -webkit-flex;
    display: flex;
}

.headimg{
    width: 150px;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    float: left;
    margin: 20px 30px;
}

.info{
    -webkit-flex: 3;
    flex: 3;
    position: relative;
    float: right;
    margin: 20px 30px;
}


