<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script src="__PUBLIC__/js/jquery.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#week').highcharts({
        title: {
            text: '各种分析啊',
            x: -20 //center
        },
        xAxis: {
            categories: ['Mon' , "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
        },
        yAxis: {
            title: {
                text: '数量 (个)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '个'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '某人',
            data: <{$weeks}>
        }]
    });
    $('#day').highcharts({
        title: {
            text: '各种分析啊',
            x: -20 //center
        },
        xAxis: {
            categories: ['0',"1", "2", "3", "4", "5", "6",'7',"8", "9", "10", "11", "12", "13",'14',"15", "16", "17", "18", "19", "20",'21',"22", "23"]
        },
        yAxis: {
            title: {
                text: '数量 (个)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '个'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '某',
            data: <{$hours}>
        }]
    });


});
		</script>


	</head>
	<body>
<script src="__PUBLIC__/js/highcharts.js"></script>
<script src="__PUBLIC__/js/exporting.js"></script>
<div id="week" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="day" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</body>
</html>
