<div class="icon">
    <section class="section" id="sina">
        <a class="sinaicon" href="#"><img src="__PUBLIC__/img/sina.jpg" height="200" width="200"></a>
        <div class="enter">
            <input type="submit" onclick="location='#'" value="sina" >
        </div>
    </section>
    <section class="section" id="qzone">
        <a class="qzoneicon" href="#"><img src="__PUBLIC__/img/qzone.jpg" height="200" width="200"></a>
        <div class="enter">
            <input type="submit" onclick="location='#'" value="Qzone" >
        </div>
    </section>
    <section class="section" id="baidu">
        <a class="baiduicon" href="#"><img src="__PUBLIC__/img/baidu.png" height="200" width="200"></a>
        <div class="enter">
            <input type="submit" onclick="location='#'" value="Baidu" >
        </div>
    </section>
</div>
