<extend name="public:header" />
<block name="content">
<div class="content">
    <volist name="weibo" id="vol">
        <div>
            <header class="header">
                <a href="#" ><img src="__PUBLIC__/img/sina.jpg" height="32" width="32"></a>
                <div class="idcontent">
                    <a href="__URL__/personal?id=<{$vol.uid}>" class="idname"><{$vol.username}></a>
                    <div class="idinfo">
                        <p><{$vol.time}></p>
                        <p><a href="#"><{$vol.datasource}></a></p>
                    </div>
                </div>
            </header>
            <section class="contentsection">
                <p class="text"><{$vol.content}></p>
                <div class="pic">
                    <ul>
                        <li><{$vol.picturesource}></li>
                    </ul>
                </div>
            </section>
            <hr/>
            <footer class="footer">
                <div class="footerdetail">
                    <p class="p1">转发:<{$vol.number1}></p>
                    <div style="width: 1.5px; height: 20px; background-color: #888"></div>
                    <p class="p2">点赞:<{$vol.number2}></p>
                    <div style="width: 1.5px; height: 20px; background-color: #888"></div>
                    <p class="p3">评论:<{$vol.number3}></p>
                </div>
                <hr/>
                <div class="allcomment">
                    <volist name="comment" id="cmt">
                        <div class="comment">
                            <header class="comheader">
                                <div class="comdetail">
                                    <a href="#" ><img src="__PUBLIC__/img/sina.jpg" height="20" width="20"></a>
                                    <div class="comname">
                                        <a href="__URL__/personal?id=<{$cmt.uid}>" class="name"><{$cmt.uname}></a>
                                        <p>:<{$cmt.content}></p>
                                    </div>
                                </div>
                            </header>
                            <footer class="comfooter">
                                <div class="idinfo">
                                    <p><{$cmt.time}></p>
                                </div>
                            </footer>
                        </div>
                        <hr/>
                    </volist>
                </div>
            </footer>
        </div>
        <hr/>
    </volist>
</div>
<link rel="stylesheet" href="__PUBLIC__/css/detail.css">
</block>