<div class="exp">
    <img class="mainicon" src="__PUBLIC__/img/sina.jpg" height="200" width="200">
    <div class="it">
        <section class="col1">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </section>
        <section class="col2">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </section>
        <section class="col3">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </section>
    </div>
</div>
<div class="every">
    <div class="all">
        <div class="id">
            <volist name="data" id="vo">
                <div class="iditem">
                    <a href="#">
                        <div class="headimg">
                            <a href="#"><img src="__PUBLIC__/img/sina.jpg" width="72" height="72"></a>
                        </div>
                        <div class="info">
                            <div class="i">
                                <div class="uname"><a href="__URL__/personal?id=<{$vo.userid}>"><{$vo.username}></a>></div>
                                <div class="vip"><{$vo.individualSignature}></div>
                            </div>
                            <div class="location"><{$vo.location}></div>
                            <div class="fanscount"><{$vo.sex}></div>
                            <div class="anotherName"><{$vo.otherInfo}></div>
                            <div class="regtime"><{$vo.time}></div>
                            <div class="number1"><{$vo.number1}></div>
                        </div>
                    </a>
                </div>
                <hr/>
            </volist>
        </div>

        <div class="content">
            <volist name="weibo" id="vol">
                <div>
                    <header class="header">
                        <a href="#" ><img src="__PUBLIC__/img/sina.jpg" height="32" width="32"></a>
                        <div class="idcontent">
                            <a href="__URL__/personal?id=<{$vol.userid}>" class="idname"><{$vol.uname}></a>
                            <div class="idinfo">
                                <p><{$vol.time}></p>
                                <p><a href="<{$vol.datasource}>">信息源: <{$vol.datasource}></a></p>
                            </div>
                        </div>
                    </header>
                    <section class="contentsection">
                        <p class="text"><{$vol.content}></p>
                        <div class="pic">
                            <ul>
                                <li><{$vol.picturesource}></li>
                            </ul>
                        </div>
                    </section>
                    <hr/>
                    <footer class="footer">
                        <p class="p1">转发:<{$vol.number1}></p>
                        <p class="p2">点赞:<{$vol.number2}></p>
                        <p class="p3">评论:<{$vol.number3}></p>
                    </footer>
                </div>
                <hr/>
            </volist>
        </div>
</div>
<link rel="stylesheet" href="__PUBLIC__/css/weiboindex.css">