    <div class="id" id="id">
        <volist name="data" id="vo">
            <div class="iditem">
                <a href="#">
                    <div class="headimg">
                        <a href="#"><img src="__PUBLIC__/img/sina.jpg" width="128" height="128"></a>
                    </div>
                    <div class="info">
                        <div class="uname"><h3><a href="__URL__/personal?id=<{$vo.userid}>"><{$vo.username}></a></h3></div>
                        <div class="i">
                            <div class="line1">
                                <p class="vip"><{$vo.individualsignature}></p>
                                <p class="sex"><{$vo.sex}></p>
                                <p class="location"><{$vo.location}></p>
                                <p class="regtime"><{$vo.time}></p>
                                <p class="anotherName"><{$vo.number0}></p>
                                <p class="otherInfo"><{$vo.otherinfo}></p>
                                <p class="space"></p>
                            </div>
                            <div class="line2">
                                <!-- 此处的数字暂时未猜测的 -->
                                <p class="attentioncount">关注:<{$vo.number1}></p>
                                <p class="fanscount"><a href="__URL__/getFans?id=<{$vo.fans}>">粉丝：<{$vo.number2}></a></p>
                                <p class="weibocount">微博:<{$vo.number3}></p>
                                <p class="space"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <hr />
        </volist>
    </div>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/id.css">