body{
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 14px;
    background-color: #D4D5E0;
}

hr{
    background-color: #666;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 0;
}

a{
    color: #666;
}

a:hover{
    color: #555;
}

.all{
    display: flex;
    flex-direction: row;
}

.id{
    flex: 1;
    -webkit-flex: 1;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.content{
    flex: 2;
    -webkit-flex: 2;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.id{
    border: 1px #555555 solid;
    display: -webkit-flex;
    display: flex;
    display: block;
    background-color: #ffffff;
    border-radius: 3px;
    margin-left: 120px;
}

.id .iditem{
    display: flex;
    flex-direction: row;
}

.id .i{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.i .uname{
    font-size: 14px;
}

.headimg{
    width: 150px;
    -webkit-flex: 1;
    flex: 1;
    margin: 20px 30px;
}

.info{
    -webkit-flex: 2;
    flex: 2;
    margin: 20px 30px;
}

.content{
    border: 1px #666 solid;
    height: auto;
    background-color: #ffffff;
    border-radius: 3px;
    margin-right: 120px;
    margin-left: 10px;
}

.idcontent .idname{
    font-size: 14px;
}

.idcontent .idinfo{
    display: flex;
    flex-direction: row;
    font-size: 8px;
    color: #3c3c3c;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.contentsection{
    padding-left: 20px;
}

.contentsection ul li{
    display: inline-block;
}

.section p{
    margin: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 10px;
}

.p1, .p2, .p3{
    flex:1;
    -webkit-flex: 1;
}





